#main {
    margin: auto;
    width: 50%;
    text-align: center;
    background-color: white;

}

#main>form {
    margin-top: 10px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

* {
    background-color: rgb(239, 17, 165);
    ;
}

#main>form>input {
    background-color: bisque;
    border: 2px solid white;

}