* {
    margin: 0;
    padding: 0;
}


#nav>#wid {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#head>img {
    height: 50px;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.input>button {
    background-color: rgb(239, 17, 165);
    color: white;
    border-color: white;
    width: 80px;
    border: 0px solid firebrick;
    height: 25px;
    margin-left: 15px;
    border-radius: 5px;
}

.container {
    height: auto;
}

.mid>img {
    height: 100px;
    width: 100%;

}

button:hover {
    cursor: pointer;
    background-color: rgb(115, 158, 196);
    transform: scale(1.1);
    z-index: 5px;
}

.container>#color {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 80%;
    height: auto;
    margin: auto;
    border: 0px solid red;
    margin-top: 20px;


}

#color>div {
    /* border: 1px solid red; */
    margin-bottom: 50px;
    transition: all .5s
}

#color>div:hover {
    transform: scale(1.1);
    z-index: 5px;
}

#color>div>img {
    height: 100px;
    width: 100px;
}

#color>div>p,
button {
    font-size: 10px;
}

#color>div>button {
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;

    width: 80px;
    height: 30px;
}

h3 {
    margin-left: 80px;
}



#color>div {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    border-radius: 5px;

}

.container>.bottom>img {
    height: 200px;
    /* border: 1px solid red; */
    /* margin-top: 5px; */
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border: 1px solid red; */
}

.container>p {
    font-size: 10px;
    background-color: rgb(211, 186, 186);
    position: sticky;
}

#footer {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(132, 28, 73);
    color: white;
}

#nav {
    display: flex;
    /* width: 100%; */
    margin: auto;
    justify-content: space-around;
    padding: 20px;
    height: 30PX;
    border: 0px solid green;


    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0;


}

#footer>div>p {
    font-size: 10px;

}

#footer>div>ul {
    font-size: 10px;
}

#nav>#text {
    font-size: 20px;
    text-shadow: 10px;
    background-color: white;
    color: rgb(239, 17, 165);
    margin-top: 20px;
    border: 0px solid yellow;
}

.reg {
    margin-top: 20px;
    border: 0px solid blueviolet;
    height: 50px;
    margin-bottom: 10px;
}

.reg>a {
    background-color: rgb(239, 17, 165);
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    border: 0px solid blue;
    width: 80px;
    height: 30px;
    padding: 5px;
    margin-left: 10px;
}

input {
    height: 20px;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

.height {
    margin-top: 20px;
}

#navbar {
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    margin: auto;
    background-color: rgb(239, 17, 165);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 5px;



}

.main {
    position: sticky;
    top: 0;
    background-color: white;
}

#nav {
    height: 30px;
    /* border: 1px solid red; */
    /* margin-top: 5px; */
    /* margin-block-end: 10px;*/
}

a {
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    margin-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.right>a {
    padding-right: 10px;
    text-decoration: none;
}

.left>a {
    padding-left: 8px;
    text-decoration: none;
}

#mid>img {
    height: 200px;
    width: 80%;
    margin: auto;
    padding-left: 80px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 10px;

}